name: Project Sync

on:
  pull_request:
    types: [opened, reopened]

jobs:
  add-to-project:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v1
        with:
          project-url: https://github.com/users/blackboxprogramming/projects/8
          github-token: ${{ secrets.GITHUB_TOKEN }}
